# Flask Configuration
SECRET_KEY=34e8b019bc442035b4816e712a529e18a27ee720523cb750a1fd1adbbec84ff1
DEBUG=True

# Database Configuration
DATABASE_URL=sqlite:///greenlife.db

# Encryption Configuration (必须设置，否则应用无法启动)
# 请联系团队负责人获取正确的密钥
ENCRYPTION_MASTER_KEY=ar5r93oB646IVE5i76w5WAnt_lR9nNpoREwUZixHdtY=

# Security Configuration
SESSION_COOKIE_SECURE=False
REMEMBER_COOKIE_SECURE=False
